/**
 * @name DiscordNight
 * @version 0.9.5.5
 * @description Dark and compact theme for BetterDiscord
 * @source https://github.com/KillYoy/DiscordNight/
 * @donate https://www.paypal.me/KillYoy
 * @author KillYoy#0295
 * @authorId 98468214824001536
*/

@import url("https://KillYoy.github.io/DiscordNight/DiscordNight.css");
:root {
    --Channel-Invite-Edit-Buttons: flex;                /* flex = ON, none = OFF */
    --Channel-Category-Invite-Button: flex;             /* flex = ON, none = OFF */
    --Channel-List-Active-Threads: flex;                /* flex = ON, none = OFF */
    --Channel-List-Upcoming-Events: flex;               /* flex = ON, none = OFF */
    --Channel-List-Boost-Goal: block;                   /* block = ON, none = OFF */
    --Channel-List-Width: 240px;                        /* 200px, Discord default = 240px */
	
    --User-List-Width: 200px;                            /* 200px, Discord default = 240px */
    --User-Popout-Width: 240px;                          /* 240px, Discord default = 300px */
    --User-Status-Popout-Width: var(--User-Popout-Width);/* 240px, Discord default = 300px */
	
    --Search-List-Width: 488px;                          /* 488px, Discord default = 418px */
    --Inbox-List-Width: 522px;                           /* 522px, Discord default = 480px */
	
    --Emoji-Menu-Height: 618px;                          /* 618px or 498px, Discord default = 444px */
	
    --Chatbox-Gift-Button: none;                         /* flex = ON, none = OFF */
    --Chatbox-GIF-Button: none;                          /* flex = ON, none = OFF */
    --Chatbox-Stickers-Button: none;                     /* flex = ON, none = OFF */
	
    --Chat-Emoji-Size: 1.5rem;                          /* 1.75rem, Discord default = 1.375rem */
    --Chat-Emoji-Large-Size: 4rem;                       /* 2rem, Discord default = 3rem */
    --Chat-Sticker-Size: 12rem;                           /* 5rem, Discord default = 10rem */
    --Chat-Wave-To-New-User-Button: flex;                /* flex = ON, none = OFF */
    --Chat-Wave-To-New-DM-Button: flex;                  /* flex = ON, none = OFF */
	
    --Text-Channels-Capital-Letter: capitalize;         /* capitalize, none */
	
    --Voice-Noise-Suppression: none;                    /* flex = ON, none = OFF */
    --Start-Activities-Button: flex;                    /* flex = ON, none = OFF */
	
    --Embed-Remove-Button: flex;                        /* flex = ON, none = OFF */
	
    --Context-Menu-Emoji-Toolbar: none;                 /* flex = ON, none = OFF */
	
    --Home-Store-Button: none;                          /* block = ON, none = OFF */
    --Home-Direct-Messages-Header: flex;                /* flex = ON, none = OFF */
    --Home-Close-DM-Button: block;                      /* block = ON, none = OFF */
    --Friends-List-Searchbar: none;                     /* flex = ON, none = OFF */
	
    --Titlebar-Help-Icon: none;                         /* flex = ON, none = OFF */
}
